<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  th:with="category = ${categoryService.readCategory(categoryId, false, operator).object}">
	<th:block th:if="${category} != null">
		<head>
			<meta charset="UTF-8">
			<meta name="Description" th:attr="Content=${category.intro}">
			<th:block th:with="keywords = ${new java.lang.StringBuilder()}">
				<th:block th:each="sub: ${category.subCategoryList}" th:with="tmp = ${subStat.first ? keywords.append(sub.name) : keywords.append(',').append(sub.name)}">
					<meta th:if="${subStat.last}" name="keywords" th:attr="Content=${keywords}">
				</th:block>
			</th:block>
			<title th:utext="|${category.name}-目录-写博客的小姜|"></title>
		</head>
		<body th:with="queryPost = ${new com.laputa.laputa_sns.model.entity.Post()},
                    popular = ${T(com.laputa.laputa_sns.service.PostIndexService).POPULAR},
                    latest = ${T(com.laputa.laputa_sns.service.PostIndexService).LATEST},
                    typePrivate = ${T(com.laputa.laputa_sns.model.entity.Category).TYPE_PRIVATE},
                    tmp = ${queryPost.setQueryParam(new com.laputa.laputa_sns.common.QueryParam())},
                    tmp = ${queryPost.queryParam.setQueryNum(10)},
                    tmp = ${queryPost.setCategoryId(category.id)}">
            <h1 th:text="${category.name}"></h1>
            <div id="navigation-bar">
            	<h2>目录导航：</h2>
				<li class="nav header nav-bar">
					<ul class="nav nav-item" th:each="sub: ${category.subCategoryList}">
						<th:block th:if="${sub.type == typePrivate}">
							<a th:text="${sub.name}" th:href="@{'/blog/category_detail/' + ${sub.id}}"
								rel="nofollow"></a>
						</th:block>
						<th:block th:if="${sub.type != typePrivate}">
							<a th:text="${sub.name}" th:href="@{'/blog/category_detail/' + ${sub.id}}"></a>
						</th:block>
					</ul>
				</li>
            </div>
			<div id="breadcrumb-navigation">
				<span>当前位置：</span>
				<span class="breadcrumb-item" th:each="i: ${#numbers.sequence(category.pathList.size() - 1, 0, -1)}">
					<span th:with="path = ${category.pathList[i]}">
						<th:block th:if="${path.type == typePrivate}">
							<a th:text="${path.name}" th:href="@{'/blog/category_detail/' + ${path.id}}"
								rel="nofollow"></a>
						</th:block>
						<th:block th:if="${path.type != typePrivate}">
							<a th:text="${path.name}" th:href="@{'/blog/category_detail/' + ${path.id}}"></a>
						</th:block>
						<span>/</span>
					</span>
				</span>
			</div>
			<div id="popular-post-list">
				<h2>热门帖子：</h2>
				<li class="list post-list content-list" 
					th:with="popularList = ${postService.readIndexPostList(queryPost, popular, operator).object}">
					<ul class="post" th:each="post: ${popularList}" th:if="${post} != null">
						<h2 class="title">
							<a th:href="@{'/blog/post_detail/' + ${post.id}}" th:text="${post.title}"></a>
						</h2>
						<p class="brief content" th:text="${post.content}"></p>
					</ul>
				</li>
			</div>
			<div id="latest-post-list">
				<h2>最新帖子：</h2>
				<li class="list post-list content-list" 
					th:with="latestList = ${postService.readIndexPostList(queryPost, latest, operator).object}">
					<ul class="post" th:each="post: ${latestList}" th:if="${post} != null">
						<h2 class="title">
							<a th:href="@{'/blog/post_detail/' + ${post.id}}" th:text="${post.title}"></a>
						</h2>
						<p class="brief content" th:text="${post.content}"></p>
					</ul>
				</li>
			</div>
		</body>
	</th:block>
</html>