<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  th:with="blogRoot = ${categoryService.readCategory(109, false, operator).object}">
	<head>
		<meta charset="UTF-8">
		<meta name="Description" th:attr="Content=${blogRoot.intro}">
		<th:block th:with="keywords = ${new java.lang.StringBuilder()}">
			<th:block th:each="sub: ${blogRoot.subCategoryList}" th:with="tmp = ${subStat.first ? keywords.append(sub.name) : keywords.append(',').append(sub.name)}">
				<meta th:if="${subStat.last}" name="keywords" th:attr="Content=${keywords}">
			</th:block>
		</th:block>
		<title>首页-写博客的小姜</title>
	</head>
	<body th:with="queryPost = ${new com.laputa.laputa_sns.model.entity.Post()},
	        popular = ${T(com.laputa.laputa_sns.service.PostIndexService).POPULAR},
	        latest = ${T(com.laputa.laputa_sns.service.PostIndexService).LATEST},
	        typePrivate = ${T(com.laputa.laputa_sns.model.entity.Category).TYPE_PRIVATE},
	        tmp = ${queryPost.setQueryParam(new com.laputa.laputa_sns.common.QueryParam())},
	        tmp = ${queryPost.queryParam.setFrom(0)},
	        tmp = ${queryPost.queryParam.setQueryNum(30)},
	        tmp = ${queryPost.setCategoryId(blogRoot.id)}">
        <h1>首页-写博客的小姜</h1>
        <nav id="navigation-bar">
        	<h2>网站导航：</h2>
			<li class="nav header nav-bar">
				<ul class="nav nav-item" th:each="sub: ${blogRoot.subCategoryList}">
					<th:block th:if="${sub.type == typePrivate}">
						<a th:text="${sub.name}" th:href="@{'/blog/category_detail/' + ${sub.id}}"
							rel="nofollow"></a>
					</th:block>
					<th:block th:if="${sub.type != typePrivate}">
						<a th:text="${sub.name}" th:href="@{'/blog/category_detail/' + ${sub.id}}"></a>
					</th:block>
				</ul>
			</li>
        </nav>
        <div id="popular-post-list">
        	<h2>热门帖子：</h2>
			<li class="list post-list content-list" 
				th:with="popularList = ${postService.readIndexPostList(queryPost, popular, operator).object}">
				<ul class="post" th:each="post: ${popularList}" th:if="${post} != null">
					<article>
						<h3 class="title">
							<a th:href="@{'/blog/post_detail/' + ${post.id}}" th:text="${post.title}"></a>
						</h3>
						<p class="brief content" th:text="${post.content.replaceAll('tp:([a-zA-Z]*)#', '')}"></p>
					</article>
				</ul>
			</li>
        </div>
		<div id="latest-post-list">
			<h2>最新帖子：</h2>
			<li class="list post-list content-list" 
				th:with="tmp = ${queryPost.queryParam.setFrom(0)},
                    tmp = ${queryPost.queryParam.setQueryNum(30)},
                    latestList = ${postService.readIndexPostList(queryPost, latest, operator).object}">
				<ul class="post" th:each="post: ${latestList}" th:if="${post} != null">
					<article>
						<h3 class="title">
							<a th:href="@{'/blog/post_detail/' + ${post.id}}" th:text="${post.title}"></a>
						</h3>
						<p class="brief content" th:text="${post.content.replaceAll('tp:([a-zA-Z]*)#', '')}"></p>
					</article>
				</ul>
			</li>
		</div>
	</body>
</html>