<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  th:with="blogRoot = ${categoryService.readCategory(109, false, operator).object}">
	<head>
		<meta charset="UTF-8">
		<meta name="Description" th:attr="Content=${blogRoot.intro}">
		<th:block th:with="keywords = ${new java.lang.StringBuilder()}">
			<th:block th:each="sub: ${blogRoot.subCategoryList}" th:with="tmp = ${subStat.first ? keywords.append(sub.name) : keywords.append(',').append(sub.name)}">
				<meta th:if="${subStat.last}" name="keywords" th:attr="Content=${keywords}">
			</th:block>
		</th:block>
		<title>首页-写博客的小姜</title>
	</head>
	<body th:with="queryPost = ${new com.laputa.laputa_sns.model.entity.Post()},
                    popular = ${T(com.laputa.laputa_sns.service.PostIndexService).POPULAR},
                    latest = ${T(com.laputa.laputa_sns.service.PostIndexService).LATEST},
                    tmp = ${queryPost.setQueryParam(new com.laputa.laputa_sns.common.QueryParam())},
                    tmp = ${queryPost.queryParam.setQueryNum(10)},
                    tmp = ${queryPost.setCategoryId(blogRoot.id)}">
        <div id="navigation-bar">
        	<h1>网站导航：</h1>
			<li class="nav header nav-bar">
				<ul class="nav nav-item" th:each="sub: ${blogRoot.subCategoryList}">
					<a th:text="${sub.name}" th:href="@{'/blog/category_detail/' + ${sub.id}}"></a>
				</ul>
			</li>
        </div>
        <div id="popular-post-list">
        	<h1>热门帖子：</h1>
			<li class="list post-list content-list" 
				th:with="popularList = ${postService.readIndexPostList(queryPost, popular, operator).object}">
				<ul class="post" th:each="post: ${popularList}">
					<h2 class="title">
						<a th:href="@{'/blog/post_detail/' + ${post.id}}" th:text="${post.title}"></a>
					</h2>
					<p class="brief content" th:text="${post.content}"></p>
				</ul>
			</li>
        </div>
		<div id="latest-post-list">
			<h1>最新帖子：</h1>
			<li class="list post-list content-list" 
				th:with="latestList = ${postService.readIndexPostList(queryPost, latest, operator).object}">
				<ul class="post" th:each="post: ${latestList}">
					<h2 class="title">
						<a th:href="@{'/blog/post_detail/' + ${post.id}}" th:text="${post.title}"></a>
					</h2>
					<p class="brief content" th:text="${post.content}"></p>
				</ul>
			</li>
		</div>
	</body>
</html>