<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:with="post = ${postService.readPost(postId, false, false, true, true, true, false, 0, false, operator).object}">
	<th:block th:if="${post} != null">
		<head>
			<meta charset="UTF-8">
			<th:block th:with="keywords = ${new java.lang.StringBuilder()}">
				<th:block th:each="category: ${post.categoryPath}"
						  th:with="tmp = ${categoryStat.first ? keywords.append(category.name) : keywords.append(',').append(category.name)}">
					<meta th:if="${categoryStat.last}" name="keywords" th:attr="Content=${keywords}">
				</th:block>
			</th:block>
			<title th:utext="|${post.title}-${post.categoryPath[0].name}-写博客的小姜|"></title>
		</head>
		<body>
			<h1 th:text="${post.title}"></h1>
			<div th:text="${post.fullText == null ? post.content : post.fullText}"></div>
		</body>
	</th:block>
</html>